.footer__links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

@media screen and (min-width: 768px){
    .footer__links {
        max-width: 465px;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}